.team-body {
	background: url(../assets/img/hacker.webp);
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	background: rgba(0,0,0,0.5) !important;
	width: 100%;
	height: 90%;
	margin: 10px;
	border-radius: 10px;
	overflow: hidden;
	/* background: #000000; */
	background-color: #2fb4cc;
	box-shadow: 0px 1px 10px rgba(255,255,255,0.3);
	grid-template-columns: repeat(4, 1fr);
	transition: all 400ms ease-out;
	cursor: default;
}
figure {
	background: rgba(255,255,255,0.0);
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(17, 191, 235, 0.4);
	transform: translateY(-2%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: var(--white-color);
}
.card .contenido-card p{
	text-align: justify;
	line-height: 1.8;
	color: var(--white-color);
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	/* background: #2fb4cc; */
	color: #fff;
}

.contain {
	height: calc(100vh - var(--height-navbar) - var(--height-footer));
}

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
	header{
		flex-direction: column;
	}
	nav{
		padding: 10px 0px;
	}
}
/*Fin-Cards*/