<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emotional intelligent</title>
    <link rel="stylesheet" href="/resources/public/css/style.css">
</head>

<body class="team-body">
    <header>
        <!--NavBar-->
        <div class="ms-auto col-12">
            <nav class="navbar navbar-expand-lg navbar-light navbar-style">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">
                        <img src="/resources/public/img/unan.webp" />
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Este div tiene justify-content-end para alinear los links a la derecha. -->
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page"
                                        href="/index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page"
                                        href="/resources/views/team/index.html">Team</a>
                                </li>
                                <li>
									<a class="nav-link text-white" href="/resources/views/emotional/index.html">Emotional intelligence</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white" href="/resources/views/automatizacion/index.html">Educational process</a>
								</li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/resources/views/automatizacion/pesudocodigo/pesudocodigo.html">Pesudocodigo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/resources/views/automatizacion/diagrama-flujo/diagrama-flujo.html">Diagrama de Flujo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white"
                                        href="/resources/views/contact/index.html">Contact</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Título y descripción -->
    <div class="col-12 container-card contain justify-content-center align-items-center text">
        <div class="card col-4 animated bounceInUp contenido-card p-2">
            <h3>Influencia De La Motivacion Para Un Aprendizaje Sastifactorio</h3>
            <div class="scroll">
                <p>El aprendizaje es un elemento fundamental en cada individuo, es la actividad que nos permite
                    transitar de un estado inicial (cuando somos embriones) a un estado cualitativamente mejorado.
                    Durante toda nuestra vida, vamos desarrollando habilidades, destrezas, valores, dones, etc.; Que
                    van
                    desde la experiencia propia, hasta el conocimiento transferido por los distintos medios
                    educativos.
                <p>
                <p>Muchas veces nuestro aprendizaje se puede ver bloqueado o simplemente no sentimos el entusiasmo
                    necesario para estudiar, esto porque no nos gusta la materia, contenido, la asignatura, y en sí,
                    solo nos obstaculiza. Por ende, presentamos este documento, con el fin de informar acerca de
                    este
                    tema tan importante para cada ser humano, lo cual llevará a la comprensión y por consecutivo, el
                    progreso del mismo.
                <p>
            </div>
        </div>
        <div class="card col-4 animated bounceInUp contenido-card p-2">
            <h3>Mecanismos que regulan el aprendizaje</h3>
            <div class="scroll">
                <p>Desde que somos niños, nuestro aprendizaje se ve afectado con referencia al entorno, ya que
                    nuestra
                    capacidad sensomotora comienza a desarrollarse, aquí es cuando comenzamos a caminar, aprendemos
                    a
                    hablar(Solo escuchando la interacción externa ), a mantener el equilibrio, etc.
                <p>
                <p>Edgar Dale fue un pedagogo estadunidense del siglo pasado que se dedico a analizar las distintas
                    herramientas educativas y trato de definir cuales permitían un mayor aprendizaje. De ahí se
                    propuso
                    la siguiente pirámide de la experiencia que luego se ha formulado como pirámide del aprendizaje.
                </p>
                <p>Según Dale, la base de la pirámide hace referencia a aquellas vivencias que permiten al ser
                    humano un
                    aprendizaje más efectivo y que se mantiene en su mente a largo plazo, este a medida que se
                    desplaza
                    va representando aquello donde el aprendizaje es más susceptible a ser olvidado o mejor dicho,
                    memoria a corto plazo
                </p>
            </div>
        </div>
        <div class="card col-4 animated bounceInUp contenido-card p-2">
            <h3>Motivacion en el aprendizaje</h3>
            <div class="scroll">
                <p>Si bien cada estudiante se motiva por razones distintas, debemos tener en cuenta que el lograr
                    que se
                    motive debe ser una prioridad si queremos que su aprendizaje se vea impactado positivamente.</p>
                <p>Como educadores, tenemos que suscitar el interés por nuestras enseñanzas a los pupilos, ya que si
                    estos están motivados a aprender, sus calificaciones, rendimiento académico mejorara aún más que
                    en
                    un principio. Debemos hacer de nuestros propios objetivos el lograr que ellos aprendan, esto al
                    estar pendientes de mantener el orden, estimularlos y hacerles sentir que si pueden lograr sacar
                    buenas notas, que son capaces y no darles críticas constructivas.
                </p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid text-center">
            <p class="final text-white text-center">
                © 2022 Team 5 all rights reserved.
            </p>
        </div>
    </footer>
</body>


</html>