<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Blog</title>
<link rel="icon" type="image/png" href="/img/Logo.jpeg" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/resources/public/css/automation/automation.css" />
</head>

<body class="team-body">

<header>
    <!--NavBar-->
    <div class="ms-auto col-12">
    <nav class="navbar navbar-expand-lg navbar-light navbar-style">
        <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="/resources/public/img/unan.webp" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Este div tiene justify-content-end para alinear los links a la derecha. -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page"
                            href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page"
                            href="/resources/views/team/index.html">Team</a>
                    </li>
                    <li>
                        <a class="nav-link text-white" href="/resources/views/emotional/index.html">Emotional intelligence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/resources/views/automatizacion/index.html">Educational process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/resources/views/automatizacion/pesudocodigo/pesudocodigo.html">Pesudocodigo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/resources/views/automatizacion/diagrama-flujo/diagrama-flujo.html">Diagrama de Flujo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"
                            href="/resources/views/contact/index.html">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
        </div>
    </nav>
    </div>
</header>

<div class="ms-auto col-12  animated bounceInUp">
    <section class="showcase">
        <div class="row">
            <h1 class="center-align titulo ">Diagrama De Flujo</h1>

            <div class="carousel center-align">
                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-1.png" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-2.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-3.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-4.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-5.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-6.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-7.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-8.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-9.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-10.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-11.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-12.png" width="400" alt="">
                </div>

                <div class="carousel-item">
                    <img src="/resources/public/img/automatizacion/diagrama-13.png" width="400" alt="">
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer">
    <div class="container-fluid text-center">
    <p class="final text-white text-center">
        © 2022 Team 5 all rights reserved.
    </p>
    </div>
</footer>

<script src="/resources/public/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>