<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Team</title>
	<link rel="stylesheet" href="../../public/css/style.css">
</head>
<body class="team-body">
    <header>
		<!--NavBar-->
		<div class="ms-auto col-12">
		  <nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
			  <a class="navbar-brand" href="/index.html">
				<img src="/resources/public/img/unan.webp" />
			  </a>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				  aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
	
				<!-- Este div tiene justify-content-end para alinear los links a la derecha. -->
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				  <ul class="navbar-nav">
					<li class="nav-item">
					  <a class="nav-link active text-white" aria-current="page" href="../team/index.html">Team</a>
					</li>
					<li>
					  <a class="nav-link text-white" href="#">Emotional intelligence</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link text-white" href="#">Educational process</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link text-white" href="../contact/index.html">Contact</a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </nav>
		</div>
	  </header>
	<!--   Tarjetas-->
<div class="col-12">
<div class="container-card contain justify-content-center align-items-center">
	
<div class="card col-3 animated bounceInUp">
	<figure>
		<img src="../../public/img/team/byron.png">
	</figure>
	<div class="contenido-card">
		<h3>Developer</h3>
		<p>
			A dreamer who doesn't believe in the impossible!
		</p>
		<a href="./description/byron.html">Read more</a>
	</div>
</div>
<div class="card col-3 animated bounceInUp">
	<figure>
		<img src="../../public/img/team/emanuel.png">
	</figure>
	<div class="contenido-card">
		<h3>Developer</h3>
		<p>We create and optimize your profiles on Social Networks.</p>
		<a href="./description/enmanuel.html">Read more</a>
	</div>
</div>
<div class="card col-3 animated bounceInUp">
	<figure>
		<img src="../../public/img/team/perla.png">
	</figure>
	<div class="contenido-card">
		<h3>Developer</h3>
		<p>I am excellent at internalizing new things for my own happiness.</p>
		<a href="./description/perla.html">Read more</a>
	</div>
</div>
<div class="card col-3 animated bounceInUp">
	<figure>
		<img src="../../public/img/team/yara.png">
	</figure>
	<div class="contenido-card">
		<h3>Graphic designer</h3>
		<p>We create your website using the latest technologies available.</p>
		<a href="./description/yara.html">Read more</a>
	</div>
</div>

</div>
<!--Fin Tarjetas-->
<footer class="footer">
    <div class="container-fluid text-center">
      <p class="final text-white text-center">
        © 2022 Team 5 all rights reserved.
      </p>
    </div>
  </footer>
</body>
</html>