<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Página Personal</title>
<link rel="stylesheet" href="./estilos.css">
</head>
<header>
  <!--NavBar-->
  <div class="ms-auto col-12">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="../public/img/unan.webp" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Este div tiene justify-content-end para alinear los links a la derecha. -->
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/MiEquipo/index.html">Team</a>
              </li>
              <li>
                <a class="nav-link text-white" href="#">Emotional intelligence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/Automatizacion/carousel/index.html">Educational process</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/Contacto/contacto.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<body>
<section class="box">
    <img src="/img/perla.png" width="180" alt="" class="box-img">
    <h1>Perla Escorcia</h1>
    <h2>Software Engineer - Web Developer</h2>
    <p>
      Mi nombre es Perla Tatiana Escorcia Castro y actualmente tengo 19 años de edad.
    </p>
    <p>
      Me considero una persona bastante positiva siempre espero lo mejor de las personas y situaciones, 
		aunque se que que tal vez estas pueden llegar a decepcionarme. Creo firmemente que todos merecen una oportunidad para expresarse,
		ser ellos mismo y demostrar su valía. Soy alguien que valora tanto el resultado como el proceso en todos los aspectos de la vida.
    </p>
    <p>
      Soy una persona introvertida que prefiere una tarde de video-juegos o una tarde de lectura que salir a otro lugares,
      no soy una persona que se enoja tan fácilmente, mis pasatiempos favoritos son escuchar música y leer,
      me resulta complicado iniciar conversaciones con personas desconocidas e incluso me es difícil transmitir mis sentimientos a personas que conozco. 
      </p>
      <p>
      Considero que mis puntos fuertes son:
      </p>
      <p>
      Creatividad: Siempre intento ver las cosas desde otras perspectivas.
      </p>
      <p>
      Pasión: Cuando algo captura mi atención quiero dedicarme totalmente a ello.
      Mentalidad abierta: Soy una persona tolerante, siempre trato de no juzgar las ideas o principios de los demás.
      </p>
    <ul>
    <li><a href="https://www.facebook.com/tati.escorcia.90"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ul>

</section>
</body>
</html>
