<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Página Personal</title>
  <link rel="stylesheet" href="./estilos.css">
</head>
<header>
  <!--NavBar-->
  <div class="ms-auto col-12">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="../public/img/unan.webp" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Este div tiene justify-content-end para alinear los links a la derecha. -->
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/MiEquipo/index.html">Team</a>
              </li>
              <li>
                <a class="nav-link text-white" href="#">Emotional intelligence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/Automatizacion/carousel/index.html">Educational process</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/Contacto/contacto.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<body>
  <section class="box">
    <img src="/img/yara.png" width="180" alt="" class="box-img">
    <h1>Yara Tercero</h1>
    <h2>Software Engineer And Graphic Design - Web Developer</h2>
    <p>Mi nombre es Yara Ixzayana Tercero Escorcia. Habito en la ciudad de sebaco, tengo 21 años.</p>
    <p>Soy una persona carismática, por lo cual disfruto convivir con mis amigos más cercanos; además, poseo la habilidad de liderazgo, ya que me gusta dirigir a mi equipo, en cuanto a            dividirnos el trabajo y estar en comunicación. A pesar de lo que anteriormente he mencionado, soy una persona que disfruta mucho su tiempo a solas; en esos momentos realizó                actividades como el dibujo, canto, tocar la guitarra y meditar.</p>
    <p>Para mí, el poder ayudar a las personas es una gran motivación; es por eso que espero que cada personita que lea el blog pueda ayudarle en su desarrollo personal_profecional.</p>
    <ul>
      <li><a href="https://www.facebook.com/yara.tercero"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ul>

  </section>
</body>
</html>
